* text=auto

*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.rs text eol=lf
*.ps1 text eol=lf

.editorconfig text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
